.App {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 0 20px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.nav-link {
  color: #61dafb;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 0.3rem;
  margin: 0.3rem;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.active {
  color: #fff;
  text-shadow: 0 0 4px #61dafb, 0 0 11px #61dafb, 0 0 19px #61dafb,
    0 0 40px #61dafb, 0 0 80px #61dafb;
}
